
.jjj{
  
    width:90px ;
    height:90px ;
  }
  body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
  }
  .container {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 300px;
  }
  .container h2 {
      text-align: center;
  }
  .form-group {
      margin-bottom: 15px;
  }
  label {
      display: block;
      font-weight: bold;
  }
  input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }
  button {
      width: 100%;
      padding: 10px;
      background: #28a745;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  button:hover {
      background: #218838;
  }
  .img{
      width:800px;
      height:500px;
      padding-top:300px;
      margin-top: 300px;
      padding-right: 800px;
  }
  .uur{
      width:100px;
    height:100px;
    padding-top: 150px;
  
  padding-right:100px;
  }
  .logo{
      margin-left: 500px;
      margin-bottom: 450px;
      text-align: right;
  }  
  .uui{
      width:120px;
      height:120px;
      padding-top: 150px;
   
    padding-right:100px;
  }
  .uuo{
      width:150px;
      height:150px;
      padding-top: 150px;
    
    padding-right:100px;  
  }
  .kul{
    text-align: left;


  }
  .cpuskuingredientiv{
    text-align: center;
  }
  .filtruvanuia{
    text-align: left;
  }